
	<div class="contenido">
				<div class="encabezado">
					
					<center><button id="Siguiente">Siguiente Ejercicio</button></center>
			       	<br /><br /> <br /><br />
					<h1>Cuestionario Inicial</h1>
					 
            	</div>	
    
			<!-- DATOS DE EJERCICIO -->
			<div id="dialog" >
					<b><center>Cuestionario Inicial </b>
					</br></br>
					INSTRUCCIONES:</center>
					</br> 
				</br>
					Lee las preguntas atentamente, revisa todas 
					las opciones y elige la respuesta que prefieras.
					(favor de no dejar ninguna respuesta en blanco).				
			</div>
			
				
	</div>
		
					<br /><br /><br /><br /><br /><br /><br />
			<div class="ejercicio1">
					<div class="demo">	
				
			<blockquote><blockquote><blockquote><blockquote>	
<form name="evaluacion" method="">

<h2>1.	De la siguiente lista de palabras, ¿cuál inciso tiene sólo palabras reservadas de Lumin©?</h2><br />
<p>
	<br /><br />


<input type="radio" name="radio1" id="radio1" />A) clase, método y repite
<br/>
<input type="radio" name="radio1" id="radio1" />B) hola, adiós y programa  <br />
<br/>
<input type="radio" name="radio1" id="radio1" />C) casa, avión, zapato<br />
<br/>
<input type="radio" name="radio1" id="radio1" />D) No sé<br />
</p><hr />

<h2>2. Con base en los valores 5.25, ’a’, “Hola”, identifique los tipos de datos correctos.</h2><br />


	<br/><br/>
<input type="radio" name="radio2" id="radio2" />A) Numérico, carácter, cadena<br />
<br/>
<input type="radio" name="radio2" id="radio2" />B) Carácter, cadena, numérico<br />
<br/>
<input type="radio" name="radio2" id="radio2" />C) Numérico, cadena, carácter <br />
<br/>
<input type="radio" name="radio2" id="radio2" />D) No sé.<br />
<hr />

<h2>3.	¿Cuál es la diferencia entre constante y variable?</h2><br />
<p>
	<br/><br/>
<input type="radio" name="radio3" id="radio3" />A) Las variables referencian valores cambiantes dentro de un bloque de código y las constantes referencias valores fijos<br />
<br/>
<input type="radio" name="radio3" id="radio3" />B) Las variables son valores que siempre permanecen y las constantes cambian <br />
<br/>
<input type="radio" name="radio3" id="radio3" />C) Las variables son valores que se repiten y las constantes no <br />
<br/>
<input type="radio" name="radio3" id="radio3" />D) No sé   <br />
</p><hr />


<h2>4. De los siguientes incisos ¿cuál contiene la declaración correcta de una variable?</h2><br />
<p>
	<br/><br/>
<input type="radio" name="radio4" id="radio4" />A) variable x tipo entero<br />
<br/>
<input type="radio" name="radio4" id="radio4" />B) declara x tipo entero <br />
<br/>
<input type="radio" name="radio4" id="radio4" />C) x tipo entero <br />
<br/>
<input type="radio" name="radio4" id="radio4" />D) no sé <br />
</p><hr />

<h2>5. ¿Cuál de los siguientes incisos contiene una asignación correcta a una constante?</h2><br />
<p>
	<br/><br/>
<input type="radio" name="radio5" id="radio5" />A) constante x=4 tipo entero <br />
<br/>
<input type="radio" name="radio5" id="radio5" />B) var = 58 <br />
<br/>
<input type="radio" name="radio5" id="radio5" />C) entero = 58 <br />
<br/>
<input type="radio" name="radio5" id="radio5" />D) no sé <br />
</p><hr />



<h2>6. Si se quiere leer un carácter desde el teclado, ¿Cuál es la respuesta correcta?</h2><br />
<p>
	<br/><br/>
<input type="radio" name="radio6" id="radio6" />A) lee(car) <br />
<br/>
<input type="radio" name="radio6" id="radio6" />B) leer(car) <br />
<br/>
<input type="radio" name="radio6" id="radio6" />C) car=lee <br />
<br/>
<input type="radio" name="radio6" id="radio6" />D) no sé <br />
</p><hr />


<h2>7. Para presentar en pantalla  una variable tipo cadena, ¿Cuál es la respuesta correcta?</h2><br />
<p>
	<br/><br/>
<input type="radio" name="radio7" id="radio7" />A) imprime(cadena)<br />
<br/>
<input type="radio" name="radio7" id="radio7" />B) imprimir(cadena) <br />
<br/>
<input type="radio" name="radio7" id="radio7" />C) cadena= imprime <br />
<br/>
<input type="radio" name="radio7" id="radio7" />D) no sé <br />
</p><hr />



<h2>8. ¿Cuál sería la salida del siguiente fragmento de código?
<h3>
<center>variable a,b,c  tipo entero
</br>
a=5
</br>
b=3
</br>
c=a+b
</br>
imprime(c)</center></h2><br /></h3>
<p>
	<br/><br/>
<input type="radio" name="radio8" id="radio8" />A) 8<br />
<br/>
<input type="radio" name="radio8" id="radio8" />B) 5 <br />
<br/>
<input type="radio" name="radio8" id="radio8" />C) 3 <br />
<br/>
<input type="radio" name="radio8" id="radio8" />D) No sé <br />
</p><hr />


<h2>9. ¿Cuál sería el resultado de la expresión a>=b, si a=5 y b=3?</h2><br />
<p>
	
	<br/><br/>
<input type="radio" name="radio9" id="radio9" />A) cierto<br />
<br/>
<input type="radio" name="radio9" id="radio9" />B) falso <br />
<br/>
<input type="radio" name="radio9" id="radio9" />C) verdadero <br />
<br/>
<input type="radio" name="radio9" id="radio9" />D) no sé <br />
</p><hr />


<h2>10. ¿Qué se imprime si se tiene lo siguiente? </h2><br />
<h3>
<center>variable sum tipo entero
</br>
sum=25
</br>
imprime(“El resultado es ”+sum)
</center></h3><br
<p>
	<br/><br/>
<input type="radio" name="radio10" id="radio10" />A) El resultado es 25<br />
<br/>
<input type="radio" name="radio10" id="radio10" />B) El resultado es sum <br />
<br/>
<input type="radio" name="radio10" id="radio10" />C) El resultado es + sum<br />
<br/>
<input type="radio" name="radio10" id="radio10" />D) No sé<br />
</p><hr />


<a href="/leccion2/datos.html"><img src="/assets/siguiente.png" title="Siguiente" style="position: fixed; bottom: 10px; left: 90%;"  width="100" height="60"/></a>
<center><input class="button white" type="button" name="result" id="result" value="Finalizar" onclick="validarFormulario()" /></center>
 <center><input class="button white" type="button" name="result" id="result" value="Finalizar" onclick="pasarVariables('puntuaciones.html', 'var1,var2')" /></center>
 

</form>
</blockquote></blockquote></blockquote></blockquote>			
            		 
					</div>
			<!-- End demo -->
			</div>    <!-- fin container -->
			</div>


<a href="pasarVariables('puntuaciones.html', 'var1,var2')">Pulse
aquí</a>



