				<div class="row">
	<div class="twelve columns centered">
	<div class="contenido">
				<div class="encabezado">	
					
			       	<br /><br /> <br /><br />
					<h1>Ejercicio 2.4:</h1>
					<h1></h1>				
					<br /><br /><br /><br />
					<br />
					<br />	  
            	</div>	    
			<!-- DATOS DE EJERCICIO -->
	<div id="dialog">
 		 <div id="dialog-wrapper">

   			<div id="dialog" title="Ejercicio 2.4">
					<b><center>EJERCICIO 2.4 </b>
					</br></br>
					INSTRUCCIONES:</center>
					</br> 
					</br>

					Dadas las definiciones siguientes
					realacione la respuesta con el
					que corresponde.
					</br></br></br>
					<b>NOTA: Arrastre la respuesta correcta 
					         a cada una de las definiciones
					         para comprobar la respuesta correcta.</b>
					
					</div>
  		 		 </div>
  			 </div>
		</div>
		<br /><br /><br /><br /><br /><br /><br />
			<div class="ejercicio">
				<div id='boxes3'>						
				<blockquote>
	       		
    	<center>
<%= image_tag("/assets/oper1.png", :alt=>'z',:width=>'650', :height=>"50",:class=>'box' ,:id =>'Preg1', :title =>'Preg1')%>
<%= image_tag("/assets/oper2.png", :alt=>'x',:width=>'650', :height=>"50",:class=>'box' ,:id =>'Preg2', :title =>'Preg2')%>
<%= image_tag("/assets/oper3.png", :alt=>'c',:width=>'650', :height=>"50",:class=>'box' ,:id =>'Preg3', :title =>'Preg3')%>
</center>
    	
    	
    
    <!-- SECCIÓN DE LAS ETIQUETAS -->
			 <h2>Respuestas:</h2>
					<section id='items3'>	
					</section>		
			
					<div class="demo">
					</div>
 					 
  


</blockquote>

   	 							
             			 </div>
			
			<!-- End demo -->
			</div>    <!-- fin container -->
			
			<div class="demo1">
					<center>				             
             		<input onclick="location.href = '/leccion2/ejer5.html'" type=image src="/assets/siguiente.png" width="100" height="60">
            		</center>
            	 	</div>
					
					<div class="demo2">
             		<input onclick="location.href = '/leccion2/ejer3.html'" type=image src="/assets/anterior.png" width="100" height="60">
            	    </div> 
</div>
</div>