		<div class="row">
	<div class="twelve columns centered">
	<div class="contenido">
				<div class="encabezado">
					
					
			       	<br /><br /> <br /><br />
					<h1>Ejercicio:</h1>
					
					<h1>Entrada y salida de datos</h1>
									
					<br /><br /><br /><br />
					<br />
					<br />	  
            	</div>	
    <br /><br />
			       <br /><br />
			<!-- DATOS DE EJERCICIO -->
	<div id="dialog">
 		 <div id="dialog-wrapper">

   			<div id="dialog" title="Ejercicio 2.2">
					<b><center>EJERCICIO 2.2 </b>
					</br></br>
					INSTRUCCIONES:</center>
					</br> 
					</br
					<p><b>Dado el algoritmo</b> </p>
					Determine cual es el resultado final imprimido
					en el algoritmo.
					</br></br></br>
					<b>NOTA: Arrastre la respuesta correcta 
					         en el algoritmo para validar su
					         respuesta</b>
					
				</div>

  		  </div>

  		</div>
	</div>
		
					<br /><br /><br /><br /><br /><br /><br />
			<div class="ejercicio">
						<div id='boxes1'>						
<blockquote><blockquote><blockquote><blockquote><blockquote><blockquote> 
	       		
<%= image_tag("/assets/alg0.png", :alt=>'resp',:width=>'800', :height=>"430",:class=>'box' ,:id =>'Respuesta', :title =>'Respuesta')%>

</blockquote></blockquote></blockquote></blockquote></blockquote></blockquote>  

   	 						 <h2>Respuestas:</h2>	
             			 </div>
			<!-- SECCIÓN DE LAS ETIQUETAS -->
			
					<section id='items1'>	
					</section>		


			<!-- End demo -->
			    <!-- fin container -->
			</div>
			<div class="demo1">
					<center>				             
             		<input onclick="location.href = '/leccion2/ejer3.html'" type=image src="/assets/siguiente.png" width="100" height="60">
            		</center>
            	 	</div>
					
					<div class="demo2">
             		<input onclick="location.href = '/leccion2/ejer1.html'" type=image src="/assets/anterior.png" width="100" height="60">
            	     </div>    	 
					
