<span class='error18'>Respuestas Correctas</span>
<div class="row">
	<div class="nine columns centered">		
		
		<div class="row">
			<div class="encabezado">
				<a><span>&laquo; Leccion 3: </span>Componentes Básicos</a>
				<span class="right_ab"><a><strong>Programación Orientada a Objetos</strong></a></span>
			</div>
		</div>
			
			<h1>Métodos: Ejercicio 3.3.</h1><br /><br />
			<!-- EJERCICIO -->
			<div class="row ejercicio">
				<div class="eleven columns centered">
					<div class="row">
						
						<div class="two columns" id="etiquetass">	 
							<div class="row"><div id="etiqueta11"  class="estados arrastrable">Estados</div></div>
							<div class="row"><div id="etiqueta12"  class="el_nom	arrastrable">El nombre</div></div>
							<div class="row"><div id="etiqueta13"  class="metodo	arrastrable">Método</div></div>
							<div class="row"><div id="etiqueta14"  class="nombre	arrastrable">Cuerpo</div></div>
							<div class="row"><div id="etiqueta15"  class="la_clase arrastrable">La clase</div></div>
							<div class="row"><div id="etiqueta16"  class="nombre	arrastrable">Nombre</div></div>
							<div class="row"><div id="etiqueta17"  class="llamada arrastrable">Llamada<br>al método</div></div>
							<div class="row"><div id="etiqueta18"  class="cuerpo arrastrable">El cuerpo</div></div>
							<div class="row"><div id="etiqueta19"  class="mp arrastrable">Método<br>principal</div></div>		
						</div>

						<!-- INSTRUCCIONES -->
						<div class="three columns">
							<div id="mintshare_c3" class="eight columns centered">
								<div class="mintshare-wrap3"><a class="top-a3">INSTRUCCIONES</a>
									<div class="desplegable3 twelve columns centered" >
										<ul class="icons3">
											<li class="drop-li3"><a href="javascript:void(0);" id="startTour3" class="drop-a3"><button class="button orange">Iniciar</button></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<ol id="joyRideTipContent">
							<li data-id="numero11" data-text="Siguiente" class="custom">
						    	<h2>Intrucciones</h2>
						    	<br />
						    	<p>Completa las siguientes oraciones.</p>
						     </li>
						     <li data-id="numero12" data-button="Siguiente">
						          <p>Selecciona las <b>etiquetas</b>.</p>
						     </li>
						     <li data-id="numero13" data-button="Siguiente">
						          <p>Arrastra las <b>etiquetas</b> a la oración correspondiente.</p>
						     </li>
						     <li data-id="numero14" data-button="Cerrar">
						          <p><b>NOTA:</b> Cuida que las etiquetas estén dentro de los contenedores, sino se conciderará incorrecta.</p>
						     </li>
						</ol>	
								
						
						<div class="eight columns">	
							<div id="preguntas">
								<div id="p1" class="suelta3">Los métodos se componen de un ___________________ y un ___________________.</div>
								<div id="p2" class="suelta4">Los ___________________ de un objeto pueden cambiar con la ejecución.</div>
								<div id="p3" class="suelta5">Para activar al método de un objeto se realiza una ___________________.</div>
								<div id="p4" class="suelta6">El ___________________ es el que desencadena la ejecución del resto del código.</div>
								<div id="p5" class="suelta7">___________________ identifica al método.</div>
								<div id="p6" class="suelta8">Los métodos se definen dentro de ___________________.</div>
								<div id="p7" class="suelta9">El __________________ representa las acciones que realizan los objetos.</div>
								<div id="p8" class="suelta10">__________________ es donde se coloca el bloque de código necesario para ejecutar la acción del objeto.</div>		
							</div>
						</div>
						
					
						<div id="numeross">
							<div class="1"><h3 id="numero11" class="so-awesome">1</h3></div><br><br><br><br>
							<div class="2"><h3 id="numero12">2</h3></div><br><br><br><br>   
							<div class="3"><h3 id="numero13">3</h3></div><br><br><br><br>	  
							<div class="4"><h3 id="numero14">4</h3></div>  
						</div>		
					</div>	
					<div class="row">
						<div class="three columns">
							<div id="botones3"><button id="validar3">Validar</button></div>
						</div>
					</div>
				</div>	<!-- despues de ejercicio-->
			</div>	

			<div class="ventanas">
					
				<div id="botones3"><a href="#" class="big-link" data-reveal-id="myModal"><button id="tarea3">Tarea</button></a></div>
			
				<div id="myModal" class="reveal-modal">
					<a class="close-reveal-modal">X</a>
					<div id="imag2"><%= image_tag("libros.png", :id =>'sombra')%></div>
					<div id="ta"><span id="letrero">Elije 5 objetos del mundo real e identifica sus métodos.</span></div>
				</div>
						
				<div id="e26" title="Respuestas"><p id="t" ></p><b>Pregunta 1:</b><br><br>° Nombre<br>° Cuerpo</div>
				<div id="e25" title="Respuestas"><p id="t" ></p><b>Pregunta 2:</b><br><br>° Estados</div>
				<div id="e24" title="Respuestas"><p id="t" ></p><b>Pregunta 3:</b><br><br>° Llamada al método</div>
				<div id="e23" title="Respuestas"><p id="t" ></p><b>Pregunta 4:</b><br><br>° Método principal</div>
				<div id="e22" title="Respuestas"><p id="t" ></p><b>Pregunta 5:</b><br><br>° El nombre</div>
				<div id="e21" title="Respuestas"><p id="t" ></p><b>Pregunta 6:</b><br><br>° La clase</div>
				<div id="e20" title="Respuestas"><p id="t" ></p><b>Pregunta 7:</b><br><br>° Método</div>
				<div id="e19" title="Respuestas"><p id="t" ></p><b>Pregunta 8:</b><br><br>° El cuerpo</div>
						
			</div><!-- fin ventanas -->	
	</div>
	</div>
</div>