<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				
			</div>
		</div>		
	
		<br /><br /><br /><br /><br /><br />
	
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("entradaysalida1.png", :title =>'entradaysalida: Definici贸n')%>
					<%= image_tag("entradaysalida2.png", :title =>'entradaysalida: Definici贸n')%>
					<%= image_tag("entradaysalida3.png", :title =>'entradaysalida: Definici贸n')%>
					<%= image_tag("entradaysalida4.png", :title =>'entradaysalida: Definici贸n')%>
					
				</div>
			</div>
		</div>	
</div>
</div>
