<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				
			</div>
		</div>		
	
		<br /><br /><br /><br /><br /><br />
	
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("identificador1.png", :title =>'identificador: Definición')%>
					<%= image_tag("identificador2.png", :title =>'identificador: Definición')%>
					<%= image_tag("identificador3.png", :title =>'identificador: Definición')%>
				
					
				</div>
			</div>
		</div>	
</div>
</div>