<div class="row">
	<div class="twelve columns centered">

<!-- MENU -->



 <div class="row">
 	
<!-- CUADRO DE TEXTO -->	
	</br>
                	<center><h1>Introducción</h1></center>
                	</br></br></br></br></br></br></br>
<h4>La programación orientada a objetos es un paradigma de programación que facilita la creación de software de calidad por sus factores que potencian el mantenimiento, la extensión y la reutilización del software generado bajo este paradigma.
</br></br>
Los objetos tratan de amoldarse al modo de pensar del hombre y no al de la máquina. Esto es posible gracias a la forma racional con la que se manejan las abstracciones que representan las entidades del dominio del problema, y a propiedades como la jerarquía o el encapsulamiento.
</br></br>

En esta lección se muestran los elementos del lenguaje de programación orientada a objetos, los temas se muestran a continuación:
</br>
Datos,
Literal,
Constantes,
Identificadores,
Variables,
Parámetros,
Operadores,
Entrada y salida de datos.
</br></br>
Usted podrá encontrar un cuestionario inicial el cual podrá evaluar sus conocimientos antes de poder ingresar a cualquier otro modulo,
Después, podrá ingresar a la teoría y los ejemplos de los temas, enseguida podrá resolver una serie de ejercicios para poder reafirmar sus conocimientos.
por último realizara un cuestionario final, con el cual se podrá comprobar si usted adquirió nuevos conocimientos sobre esta lección.

  </h4>           
<div class="introduccion1">
 <input onclick="location.href = '/leccion2/cuestionarioinicial.html'" type=image src="/assets/siguiente.png" width="100" height="60">            	
    </div>
    
    <div class="introduccion2">
             	<input onclick="location.href = '/leccion2/menuprincipal.html'" type=image src="/assets/menuprincipal.png" width="80" height="80">
   		</div>
    </div>
</div>

</div>