<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				
			</div>
		</div>		
	
		<br /><br /><br /><br /><br /><br />
	
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("literal1.png", :title =>'Literal: Definición')%>
					<%= image_tag("literal2.png", :title =>'Literal: Tipos de datos...')%>
					<%= image_tag("literal3.png", :title =>'Literal: Tipos de datos...')%>
				
					
				</div>
			</div>
		</div>	
</div>
</div>