	<div class="contenido">
		
			<div class="encabezado">
			       <br /><br />
			       <br /><br />
				<h1>Puntuaciones:</h1>	
				 <br /><br />
            </div>	
    <div class="linea"></div>
			<br /><br />
			<br /><br />
			<!-- EJERCICIO -->
	

   	
   	<br /><br />
  		 
			<div class="ejercicio">
				<div id='boxes'>
		 <h2>Ejercicios:</h2>	
		<!-- TABLA EJERCICIO1 -->
		</br></br></br>
		<center>
		<table width="497" height="42" border="1">
  		 <tr>
    	<th width="841" scope="col">Ejercicio 2.1: Datos</th>
    	<th width="159" scope="col">&nbsp;</th>
 		 </tr>
		</table>
		</center>
		
		<!-- TABLA EJERCICIO2 -->
		
		<center>
		<table width="497" height="42" border="1">
  		 <tr>
    	<th width="841" scope="col">Ejercicio 2.2: Entrada y salida de datos</th>
    	<th width="159" scope="col">&nbsp;</th>
 		 </tr>
		</table>
		</center>
		
			<!-- TABLA EJERCICIO2 -->
	
		<center>
		<table width="497" height="42" border="1">
  		 <tr>
  <th width="841" scope="col">Ejercicio 2.3:</th>
    	<th width="159" scope="col">&nbsp;</th>
 		 </tr>
		</table>
		</center>
		
		
			<!-- TABLA EJERCICIO2 -->
	
		<center>
		<table width="497" height="42" border="1">
  		 <tr>
    	<th width="841" scope="col">Ejercicio 2.4:</th>
    	<th width="159" scope="col">&nbsp;</th>
 		 </tr>
		</table>
		</center>
		
		
			<!-- TABLA EJERCICIO2 -->
	
		<center>
		<table width="497" height="42" border="1">
  		 <tr>
    <th width="841" scope="col">Ejercicio 2.5:</th>
    	<th width="159" scope="col">&nbsp;</th>
 		 </tr>
		</table>
		</center>
		
		 <hr style="color:#F00;" />
		   <h2>Evaluaciones:</h2>	
		 
			<!-- TABLA DE CUESTIONARIO INICIAL-->
		</br></br></br>
		<center>
		<table width="497" height="42" border="1">
  		 <tr>
    	<th width="841" scope="col">Cuestionario Inicial</th>
    	<th width="159" scope="col">&nbsp;</th>
 		 </tr>
		</table>
		</center>
		
		
			<!-- TABLA CUESTIONARIO FINAL -->
		
		<center>
		<table width="497" height="42" border="1">
  		 <tr>
    	<th width="841" scope="col">Cuestionario Final</th>
    	<th width="159" scope="col">&nbsp;</th>
 		 </tr>
		</table>
		</center>
		
	
		
		
	
		
            </div>	
			</div>	
			<div class="demo">
             <center><button class="button white" href="/leccion3/ejercicio3.html" id="Siguiente">Siguiente Ejercicio </button></center>
			</div>
			<!-- End demo -->  
		</div>    <!-- fin container -->