<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				
			</div>
		</div>		
	
		<br /><br /><br /><br /><br /><br />
	
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("variables1.png", :title =>'variables: Definición')%>
					<%= image_tag("variables2.png", :title =>'variables: Definición')%>
				
					
				</div>
			</div>
		</div>	
</div>
</div>